/* ---------------
common style start  
------------------*/
*{
      margin: 0;
      padding: 0;
}
body{
background-color: #f1f1f1;
font-family: 'Poppins', sans-serif;
}


/* google font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* google font Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

/* google font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Roboto:wght@700&display=swap');

/* google font Manrope */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@700&family=Poppins:wght@500&family=Roboto:wght@700&display=swap');
/*--------------------
 header sttyle start  
 ---------------------*/
header{
      margin: 87px 120px;
}
.header-manu{
      display: flex;
      justify-content: space-between;
}
.header-title{
      font-size: 24px;
      color: #3A3A3A;
      font-weight: 700;
}
.fa-shopping-cart{
      width: 36px;
      height: 36px;
}

/*---------------------
 top banner style start  
 ----------------------*/
 .top-banner{
      margin-left: 120px;
      margin-right: 120px;
      display: flex;
      grid-column-gap: 133px;
 }
 .banner-detail{
      width: 582px;
      height: 270px;
 }
 .banner-title{
      font-weight: bold;
      font-size: 52px;
      color: #3A3A3A;
      margin-bottom: 24px;
 }

 .banner-description{
      font-weight: 600;
      font-size: 16px;
      color: #3A3A3A;
 }
 .banner-link{
       margin-top: 30px;
 }
 .link-button{
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
      background-color: #E02C6D;
      border-radius: 41px;
      padding: 10px 24px;
      text-decoration: none;
 }
 .fa-arrow-right{
      width: 24px;
      height: 24px
 }

 
 .banner-thumline{
     margin-top: -60px;
}
 .banner-image{
      width: 440px;
      height: 414px;
      align-items: center;
 }

 /* product collection style start */

 .products-container{
      width: 1047px;
      height: 1530px;
      margin-left: 12%;
 }
 .products-title{
      font-weight: 600;
      font-size: 28px;
      color: #3A3A3A;
      text-align: center;
      margin-bottom: 30px;
 }

 .products{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 16px;
     grid-column-gap: 16px;
     align-items: baseline;
     justify-content: start;
 }
 .product{
      background-color: #ffffff;
      width: 329px;
      height: 450px;
      border-radius: 10px;
 }
 .product-thumline img{
      width: 300px;
      height: 256px;
      border-radius: 5px;
      margin: 15px;
 }
 .product-info{
     width: 300px;
     border-radius: 5px;
     margin: 15px;
 }

  .product-name{
      font-weight: 500;
      font-size: 28px;
      color: #18191F;
      margin-bottom: 8px;
 }

 .product-price{
     font-weight: normal;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.87);
      margin-bottom: 5px;
      font-family: 'Inter', sans-serif;
 }
 .produce-feedback{
       display: flex;
       margin-bottom: 3px;
}
.product-ratet{
     margin-left: 8px;
     font-weight: bold;
     font-size: 14px;
     color: #5E6366;
     font-family: 'Roboto', sans-serif;
}
.filled{
     color: orange;
}
.empty{
     color: #5E6366;
}
.product-description{
     font-weight: bold;
     font-size: 14px;
     color: #787885;
     font-family: 'Inter', sans-serif;
     margin-bottom: 10px;
}

/* See More style star */

.see-link{
     float: right;
     margin-top: 50px;
}
.see-button{
     font-weight: bold;
     font-size: 16px;
     color: #E02C6D;
     text-decoration: none;
}
.see-button .fa-arrow-right{
     padding-left: 10px;
}


/* online shopping style start */
.online-shopping{
     width: 1047px;
      height: 300px;
      margin-left: 12%;
      margin-bottom: 90px;
      display: flex;
}

.shope-image{
     width: 404px;
     height: 270px;
     border-radius: 7px;
}
.shope-detail{
     margin-left: 96px;
     padding-top: 30px;
}
.shope-title{
     font-weight: bold;
     font-size: 38px;
     color: #0A0826;
}
.shope-description{
     font-weight: bold;
     font-size: 16px;
     color: #6C6C6C;
     padding-top: 16px;
     padding-bottom: 16px;
}

.shope-button{
     font-weight: bold;
     font-size: 16px;
     color: #FFFFFF;
     background-color: #E02C6D;
     padding: 10px 24px;
     text-decoration: none;
}

/* footer style start */
footer{
     background-color: #0A0826;
     width: 100%;
     height: 170px;
     display: flex;
     justify-content: center;
     align-items: center
}
.footer-container{
     width: 265px;
     height: 139px; 
     color: #ffffff;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}
.footer-title{
     font-weight: bold;
     font-size: 24px;
     text-align: center;
     padding: 6px 0;
}
.copy-right{
     font-family: 'Manrope', sans-serif;
     font-weight: bold;
     font-size: 14px;
     color: #D9DBE1;
     text-align: center;
     padding-bottom: 6px;
}

.social{
     width: 30.07px;
     height: 30.07px;
     color: #FFFFFF;
     margin: 8px;
}
.social-media{
     margin-left: 15%;
}